# Bibliothèque

In [5]:
import pandas as pd

# Importation des données

In [ ]:
df = pd.read_csv('../data/data2010-2011s1.csv', encoding="unicode_escape")

# Information sur les des données

In [12]:
s = df.shape
print(f"nombre de ligne   : {s[0]}")
print(f"nombre de colonne : {s[1]}")

nombre de ligne   : 245903
nombre de colonne : 8

In [7]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [32]:
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID      object
Country         object
dtype: object

In [55]:
for c, n in zip(range(0, s[1]), df.columns.values):
    print(str(n)+": " + str(type(df._get_value(0,c, takeable=True))))

InvoiceNo: <class 'str'>
StockCode: <class 'str'>
Description: <class 'str'>
Quantity: <class 'numpy.int64'>
InvoiceDate: <class 'str'>
UnitPrice: <class 'numpy.float64'>
CustomerID: <class 'str'>
Country: <class 'str'>

In [46]:
df.columns.values

array(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'], dtype=object)

# Pays

## liste des pays du dataset

In [ ]:
df["Country"].unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta'], dtype=object)

## unspecified

In [15]:
unsp = df.loc[df['Country'] == "Unspecified"]

In [16]:
unsp.shape[0]

83

In [17]:
unsp.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
152712,549687,20685,DOORMAT RED RETROSPOT,2,4/11/2011 13:29,7.95,12363.0,Unspecified
152713,549687,22691,DOORMAT WELCOME SUNRISE,2,4/11/2011 13:29,7.95,12363.0,Unspecified
152714,549687,48116,DOORMAT MULTICOLOUR STRIPE,2,4/11/2011 13:29,7.95,12363.0,Unspecified
152715,549687,21213,PACK OF 72 SKULL CAKE CASES,24,4/11/2011 13:29,0.55,12363.0,Unspecified
152716,549687,21977,PACK OF 60 PINK PAISLEY CAKE CASES,24,4/11/2011 13:29,0.55,12363.0,Unspecified

# CustomerID

## Cast column to str

In [22]:
type(df['CustomerID'][0])

numpy.float64

In [65]:
df["CustomerID"] = df["CustomerID"].map(str)
type(df['CustomerID'][0])
df['CustomerID'][0]

'17850.0'

## Teste de conformité

In [64]:
df[df['CustomerID'].str.match("^\d{5}$") == False]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
245898,558637,22032,BOTANICAL LILY GREETING CARD,12,6/30/2011 20:08,0.42,17891.0,United Kingdom
245899,558637,22028,PENNY FARTHING BIRTHDAY CARD,12,6/30/2011 20:08,0.42,17891.0,United Kingdom
245900,558637,22033,BOTANICAL ROSE GREETING CARD,12,6/30/2011 20:08,0.42,17891.0,United Kingdom
245901,558637,22029,SPACEBOY BIRTHDAY CARD,12,6/30/2011 20:08,0.42,17891.0,United Kingdom
245902,558637,22024,RAINY LADIES BIRTHDAY CARD,12,6/30/2011 20:08,0.42,17891.0,United Kingdom

In [63]:
(testCID == True).shape[0]

0         False
1         False
2         False
3         False
4         False
          ...
245898    False
245899    False
245900    False
245901    False
245902    False
Name: CustomerID, Length: 245903, dtype: bool

# UnitPrice

In [58]:
df["UnitPrice"] < 0

0         False
1         False
2         False
3         False
4         False
          ...
245898    False
245899    False
245900    False
245901    False
245902    False
Name: UnitPrice, Length: 245903, dtype: bool