# Bibliothèque

In [2]:
import pandas as pd

# Importation des données

In [3]:
df = pd.read_csv('../data/data2010-2011s1.csv', encoding="unicode_escape")
cdf = df.copy()

# Information sur les des données

In [3]:
s = df.shape
print(f"nombre de ligne   : {s[0]}")
print(f"nombre de colonne : {s[1]}")

nombre de ligne   : 245903
nombre de colonne : 8

In [5]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [6]:
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [7]:
for c, n in zip(range(0, s[1]), df.columns.values):
    print(str(n)+": " + str(type(df._get_value(0,c, takeable=True))))

InvoiceNo: <class 'str'>
StockCode: <class 'str'>
Description: <class 'str'>
Quantity: <class 'numpy.int64'>
InvoiceDate: <class 'str'>
UnitPrice: <class 'numpy.float64'>
CustomerID: <class 'numpy.float64'>
Country: <class 'str'>

In [8]:
df.columns.values

array(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'], dtype=object)

# Sauvegarde des données mise de côté

In [9]:
err = pd.DataFrame() # Met les erreurs dans un tableau
countErr = {}        # Comptabilise les erreurs

# Doublon

In [14]:
dataframe = df.copy()
d = dataframe.duplicated(subset = ['InvoiceNo', 'StockCode']) # return a boolean vector
errDuplicated = dataframe[d==True]
#errDuplicated.head()
errDuplicated["Erreur"] = "Doublon"

C:\Users\devia.e05\AppData\Local\Temp\ipykernel_15152\915533726.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errDuplicated["Erreur"] = "Doublon"

In [44]:
a = df.duplicated(subset = ['InvoiceNo', 'StockCode'])#.reset_index(drop = True)
cdf[a == True].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
125,536381,71270,PHOTO CLIP LINE,3,12/1/2010 9:41,1.25,15311.0,United Kingdom
498,536409,90199C,5 STRAND GLASS NECKLACE CRYSTAL,1,12/1/2010 11:45,6.35,17908.0,United Kingdom
502,536409,85116,BLACK CANDELABRA T-LIGHT HOLDER,5,12/1/2010 11:45,2.10,17908.0,United Kingdom
517,536409,21866,UNION JACK FLAG LUGGAGE TAG,1,12/1/2010 11:45,1.25,17908.0,United Kingdom
525,536409,90199C,5 STRAND GLASS NECKLACE CRYSTAL,2,12/1/2010 11:45,6.35,17908.0,United Kingdom

In [42]:
df.loc[df["InvoiceNo"] == "536381"]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
106,536381,22139,RETROSPOT TEA SET CERAMIC 11 PC,23,12/1/2010 9:41,4.25,15311.0,United Kingdom
107,536381,84854,GIRLY PINK TOOL SET,5,12/1/2010 9:41,4.95,15311.0,United Kingdom
108,536381,22411,JUMBO SHOPPER VINTAGE RED PAISLEY,10,12/1/2010 9:41,1.95,15311.0,United Kingdom
109,536381,82567,"AIRLINE LOUNGE,METAL SIGN",2,12/1/2010 9:41,2.10,15311.0,United Kingdom
110,536381,21672,WHITE SPOT RED CERAMIC DRAWER KNOB,6,12/1/2010 9:41,1.25,15311.0,United Kingdom
111,536381,22774,RED DRAWER KNOB ACRYLIC EDWARDIAN,24,12/1/2010 9:41,1.25,15311.0,United Kingdom
112,536381,22771,CLEAR DRAWER KNOB ACRYLIC EDWARDIAN,24,12/1/2010 9:41,1.25,15311.0,United Kingdom
113,536381,71270,PHOTO CLIP LINE,1,12/1/2010 9:41,1.25,15311.0,United Kingdom
114,536381,22262,FELT EGG COSY CHICKEN,1,12/1/2010 9:41,0.85,15311.0,United Kingdom
115,536381,22637,PIGGY BANK RETROSPOT,1,12/1/2010 9:41,2.55,15311.0,United Kingdom
116,536381,21934,SKULL SHOULDER BAG,10,12/1/2010 9:41,1.65,15311.0,United Kingdom
117,536381,21169,YOU'RE CONFUSING ME METAL SIGN,3,12/1/2010 9:41,1.69,15311.0,United Kingdom
118,536381,21166,COOK WITH WINE METAL SIGN,1,12/1/2010 9:41,1.95,15311.0,United Kingdom
119,536381,21175,GIN + TONIC DIET METAL SIGN,2,12/1/2010 9:41,2.10,15311.0,United Kingdom
120,536381,37444A,YELLOW BREAKFAST CUP AND SAUCER,1,12/1/2010 9:41,2.95,15311.0,United Kingdom
121,536381,37444C,PINK BREAKFAST CUP AND SAUCER,1,12/1/2010 9:41,2.95,15311.0,United Kingdom
122,536381,22086,PAPER CHAIN KIT 50'S CHRISTMAS,4,12/1/2010 9:41,2.95,15311.0,United Kingdom
123,536381,22083,PAPER CHAIN KIT RETROSPOT,1,12/1/2010 9:41,2.95,15311.0,United Kingdom
124,536381,84971S,SMALL HEART FLOWERS HOOK,6,12/1/2010 9:41,0.85,15311.0,United Kingdom
125,536381,71270,PHOTO CLIP LINE,3,12/1/2010 9:41,1.25,15311.0,United Kingdom
126,536381,47580,TEA TIME DES TEA COSY,2,12/1/2010 9:41,2.55,15311.0,United Kingdom
127,536381,22261,FELT EGG COSY WHITE RABBIT,1,12/1/2010 9:41,0.85,15311.0,United Kingdom
128,536381,84832,ZINC WILLIE WINKIE CANDLE STICK,1,12/1/2010 9:41,0.85,15311.0,United Kingdom
129,536381,22644,CERAMIC CHERRY CAKE MONEY BANK,1,12/1/2010 9:41,1.45,15311.0,United Kingdom
130,536381,21533,RETROSPOT LARGE MILK JUG,1,12/1/2010 9:41,4.95,15311.0,United Kingdom
131,536381,21557,SET OF 6 FUNKY BEAKERS,2,12/1/2010 9:41,2.95,15311.0,United Kingdom
132,536381,15056BL,EDWARDIAN PARASOL BLACK,2,12/1/2010 9:41,5.95,15311.0,United Kingdom
133,536381,15056N,EDWARDIAN PARASOL NATURAL,2,12/1/2010 9:41,5.95,15311.0,United Kingdom
134,536381,22646,CERAMIC STRAWBERRY CAKE MONEY BANK,4,12/1/2010 9:41,1.45,15311.0,United Kingdom
135,536381,22176,BLUE OWL SOFT TOY,1,12/1/2010 9:41,2.95,15311.0,United Kingdom
136,536381,22438,BALLOON ART MAKE YOUR OWN FLOWERS,1,12/1/2010 9:41,1.95,15311.0,United Kingdom
137,536381,21731,RED TOADSTOOL LED NIGHT LIGHT,2,12/1/2010 9:41,1.65,15311.0,United Kingdom
138,536381,22778,GLASS CLOCHE SMALL,3,12/1/2010 9:41,3.95,15311.0,United Kingdom
139,536381,22719,GUMBALL MONOCHROME COAT RACK,36,12/1/2010 9:41,1.06,15311.0,United Kingdom
140,536381,21523,DOORMAT FANCY FONT HOME SWEET HOME,10,12/1/2010 9:41,6.75,15311.0,United Kingdom

# Pays

## liste des pays du dataset

In [10]:
print(df["Country"].unique())
print(df["Country"].unique().shape)

['United Kingdom' 'France' 'Australia' 'Netherlands' 'Germany' 'Norway'
 'EIRE' 'Switzerland' 'Spain' 'Poland' 'Portugal' 'Italy' 'Belgium'
 'Lithuania' 'Japan' 'Iceland' 'Channel Islands' 'Denmark' 'Cyprus'
 'Sweden' 'Austria' 'Israel' 'Finland' 'Bahrain' 'Greece' 'Hong Kong'
 'Singapore' 'Lebanon' 'United Arab Emirates' 'Saudi Arabia'
 'Czech Republic' 'Canada' 'Unspecified' 'Brazil' 'USA'
 'European Community' 'Malta']
(37,)

## unspecified

In [11]:
errCountry = df.loc[df['Country'] == "Unspecified"]

In [20]:
a = df['Country'] == "Unspecified"
df[a == True].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
152712,549687,20685,DOORMAT RED RETROSPOT,2,4/11/2011 13:29,7.95,12363.0,Unspecified
152713,549687,22691,DOORMAT WELCOME SUNRISE,2,4/11/2011 13:29,7.95,12363.0,Unspecified
152714,549687,48116,DOORMAT MULTICOLOUR STRIPE,2,4/11/2011 13:29,7.95,12363.0,Unspecified
152715,549687,21213,PACK OF 72 SKULL CAKE CASES,24,4/11/2011 13:29,0.55,12363.0,Unspecified
152716,549687,21977,PACK OF 60 PINK PAISLEY CAKE CASES,24,4/11/2011 13:29,0.55,12363.0,Unspecified

In [89]:
errCountry.shape[0]

83

In [90]:
errCountry.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
152712,549687,20685,DOORMAT RED RETROSPOT,2,4/11/2011 13:29,7.95,12363.0,Unspecified
152713,549687,22691,DOORMAT WELCOME SUNRISE,2,4/11/2011 13:29,7.95,12363.0,Unspecified
152714,549687,48116,DOORMAT MULTICOLOUR STRIPE,2,4/11/2011 13:29,7.95,12363.0,Unspecified
152715,549687,21213,PACK OF 72 SKULL CAKE CASES,24,4/11/2011 13:29,0.55,12363.0,Unspecified
152716,549687,21977,PACK OF 60 PINK PAISLEY CAKE CASES,24,4/11/2011 13:29,0.55,12363.0,Unspecified

In [91]:
err = pd.concat([err, errCountry])
countErr["Pays"] = errCountry.shape[0] + (0 if countErr.get('Pays')==None else countErr.get('Pays'))

## None

In [92]:
errCountry = cdf.loc[cdf["Country"]==None]

In [93]:
errCountry.shape

(0, 8)

In [94]:
err = pd.concat([err, errCountry])
countErr["Pays"] = errCountry.shape[0] + (0 if countErr.get('Pays')==None else countErr.get('Pays'))

In [96]:
print(err.head())
countErr

       InvoiceNo StockCode                         Description  Quantity  \
152712    549687     20685               DOORMAT RED RETROSPOT         2
152713    549687     22691             DOORMAT WELCOME SUNRISE         2
152714    549687     48116          DOORMAT MULTICOLOUR STRIPE         2
152715    549687     21213         PACK OF 72 SKULL CAKE CASES        24
152716    549687     21977  PACK OF 60 PINK PAISLEY CAKE CASES        24

            InvoiceDate  UnitPrice  CustomerID      Country
152712  4/11/2011 13:29       7.95     12363.0  Unspecified
152713  4/11/2011 13:29       7.95     12363.0  Unspecified
152714  4/11/2011 13:29       7.95     12363.0  Unspecified
152715  4/11/2011 13:29       0.55     12363.0  Unspecified
152716  4/11/2011 13:29       0.55     12363.0  Unspecified

{'Pays': 83}

# CustomerID

## Cast column to str

Il faut vérifier qu'il n'y est pas de décimal autre que 0  
Puis retirer la décimal

In [4]:
cdf["CustomerID"] = df["CustomerID"].astype(str) #.replace('\.\d+', '', regex=True)
type(df['CustomerID'][0])
cdf['CustomerID'][0]

'17850.0'

In [5]:
errCID = cdf[cdf['CustomerID'].str.match("\.[1-9]") == True]

In [108]:
err = pd.concat([err, errCID])
countErr["CustomerID"] = errCID.shape[0] + (0 if countErr.get('CustomerID')==None else countErr.get('CustomerID'))

In [7]:
cdf["CustomerID"] = df["CustomerID"].astype(str).replace('\.\d+', '', regex=True)

In [8]:
cdf.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850,United Kingdom

In [111]:
print(err.head())
countErr

       InvoiceNo StockCode                         Description  Quantity  \
152712    549687     20685               DOORMAT RED RETROSPOT         2
152713    549687     22691             DOORMAT WELCOME SUNRISE         2
152714    549687     48116          DOORMAT MULTICOLOUR STRIPE         2
152715    549687     21213         PACK OF 72 SKULL CAKE CASES        24
152716    549687     21977  PACK OF 60 PINK PAISLEY CAKE CASES        24

            InvoiceDate  UnitPrice  CustomerID      Country
152712  4/11/2011 13:29       7.95     12363.0  Unspecified
152713  4/11/2011 13:29       7.95     12363.0  Unspecified
152714  4/11/2011 13:29       7.95     12363.0  Unspecified
152715  4/11/2011 13:29       0.55     12363.0  Unspecified
152716  4/11/2011 13:29       0.55     12363.0  Unspecified

{'Pays': 83, 'CustomerID': 0}

## Teste de conformité

In [35]:
cdf[cdf['CustomerID'].str.match("^\d{5}$") == False].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,12/1/2010 11:52,0.00,nan,United Kingdom
1443,536544,21773,DECORATIVE ROSE BATHROOM BOTTLE,1,12/1/2010 14:32,2.51,nan,United Kingdom
1444,536544,21774,DECORATIVE CATS BATHROOM BOTTLE,2,12/1/2010 14:32,2.51,nan,United Kingdom
1445,536544,21786,POLKADOT RAIN HAT,4,12/1/2010 14:32,0.85,nan,United Kingdom
1446,536544,21787,RAIN PONCHO RETROSPOT,2,12/1/2010 14:32,1.66,nan,United Kingdom

# UnitPrice

Vérifier s'il y a des valeurs négatifs

In [37]:
cdf[cdf["UnitPrice"] < 0]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

# InvoiceDate

In [22]:
date_pattern = "^([0]{0,1}[1-9]|1[012])\/([1-9]|([012][0-9])|(3[01]))\/((\d\d\d\d)|(\d\d)) [012]{0,1}[0-9]:[0-6][0-9]$"

In [23]:
cdf[cdf['InvoiceDate'].str.match(date_pattern) == False].head()
d = cdf['InvoiceDate'].str.match(date_pattern)
print(d)

0         True
1         True
2         True
3         True
4         True
          ...
245898    True
245899    True
245900    True
245901    True
245902    True
Name: InvoiceDate, Length: 245903, dtype: bool

In [49]:
cdf[cdf['InvoiceDate'].str.match(date_pattern) == False].shape

(0, 8)

# Quantity

In [50]:
cdf[cdf["Quantity"]<0].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,12/1/2010 9:41,27.50,14527,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,12/1/2010 9:49,4.65,15311,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,12/1/2010 10:24,1.65,17548,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548,United Kingdom

In [5]:
cdf["Quantity"]<0

0         False
1         False
2         False
3         False
4         False
          ...
245898    False
245899    False
245900    False
245901    False
245902    False
Name: Quantity, Length: 245903, dtype: bool

In [51]:
cdf[cdf["StockCode"]=="D"]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,12/1/2010 9:41,27.50,14527,United Kingdom
9038,C537164,D,Discount,-1,12/5/2010 13:21,29.29,14527,United Kingdom
14498,C537597,D,Discount,-1,12/7/2010 12:34,281.00,15498,United Kingdom
19392,C537857,D,Discount,-1,12/8/2010 16:00,267.12,17340,United Kingdom
31134,C538897,D,Discount,-1,12/15/2010 9:14,5.76,16422,United Kingdom
31135,C538897,D,Discount,-1,12/15/2010 9:14,42.50,16422,United Kingdom
31663,C539003,D,Discount,-1,12/15/2010 12:35,26.93,14527,United Kingdom
38609,C539589,D,Discount,-1,12/20/2010 13:14,13.88,14527,United Kingdom
44405,C540171,D,Discount,-1,1/5/2011 12:26,22.97,14527,United Kingdom
88032,C543752,D,Discount,-1,2/11/2011 14:12,64.27,14031,United Kingdom
88071,C543758,D,Discount,-1,2/11/2011 15:07,65.91,15299,United Kingdom
88211,C543789,D,Discount,-1,2/11/2011 17:10,84.80,17450,United Kingdom
89282,C543840,D,Discount,-1,2/14/2011 11:19,70.01,14527,United Kingdom
108071,C545476,D,Discount,-1,3/3/2011 11:05,30.38,14527,United Kingdom
108088,C545478,D,Discount,-720,3/3/2011 11:08,0.01,16422,United Kingdom
115091,C546106,D,Discount,-1,3/9/2011 12:21,9.87,14527,United Kingdom
140555,C548411,D,Discount,-1,3/31/2011 10:36,162.24,13316,United Kingdom
140795,C548462,D,Discount,-1,3/31/2011 12:11,14.52,14527,United Kingdom
150591,C549452,D,Discount,-1,4/8/2011 14:17,1867.86,17940,United Kingdom
169541,C551190,D,Discount,-1,4/27/2011 10:22,120.00,17940,United Kingdom
169834,C551265,D,Discount,-1,4/27/2011 12:06,11.76,14527,United Kingdom
181009,C552423,D,Discount,-1,5/9/2011 12:44,11.84,14527,United Kingdom
182729,C552569,D,Discount,-240,5/10/2011 12:06,0.03,12901,United Kingdom
183138,C552650,D,Discount,-18,5/10/2011 14:03,1.45,16672,United Kingdom
192807,C553482,D,Discount,-1,5/17/2011 12:07,9.84,14527,United Kingdom
194727,C553665,D,Discount,-1,5/18/2011 12:16,15.96,14527,United Kingdom
196362,C553841,D,Discount,-48,5/19/2011 12:19,0.20,16029,United Kingdom
203526,C554516,D,Discount,-1,5/24/2011 16:50,13.88,14527,United Kingdom
214671,C555597,D,Discount,-1,6/6/2011 10:19,42.00,15796,United Kingdom
218253,C556037,D,Discount,-1,6/8/2011 12:37,20.92,14527,United Kingdom
221712,C556265,D,Discount,-1,6/9/2011 19:24,28.04,16684,United Kingdom
226396,C556796,D,Discount,-96,6/14/2011 14:40,0.70,16013,United Kingdom
227481,C556877,D,Discount,-1,6/15/2011 12:00,129.90,15498,United Kingdom
227705,C556904,D,Discount,-1,6/15/2011 12:56,14.42,14527,United Kingdom
238153,C557927,D,Discount,-1,6/23/2011 14:56,10.00,16029,United Kingdom

In [52]:
cdf[cdf["StockCode"]=="D"].shape

(35, 8)

In [4]:
cdf["StockCode"].unique().shape

(3651,)

In [21]:
a = cdf[(df["StockCode"].str.match("^\d{1,6}$"))==False]

In [22]:
a.shape

(29233, 8)

In [23]:
a.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
45,536370,POST,POSTAGE,3,12/1/2010 8:45,18.00,12583.0,France

# Description

In [2]:
import pandas as pd
dataframe = pd.read_csv('../data/rData.csv', encoding="unicode_escape")

In [6]:
dataframe["Description"].trimEnd()

AttributeError: 'Series' object has no attribute 'trimEnd'

# InvoiceNo

In [2]:
import pandas as pd
dataframe = pd.read_csv('../data/rData.csv', encoding="unicode_escape")

In [31]:
a = df["InvoiceNo"].str.match("^\d{6}$")

In [32]:
cdf[a==True].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [26]:
cdf[a==False].shape

(4494, 8)

In [ ]:
dIN = dataframe.duplicated(subset = ['InvoiceNo'])

In [ ]:
dataframe[dIN]

In [ ]:
dataframe[dataframe['InvoiceNo']=="543162"]

In [5]:
dataframe["InvoiceNo"].unique().shape

(5267,)

In [7]:
type(dataframe["InvoiceNo"].unique())

numpy.ndarray

In [8]:
dataframe[dataframe["InvoiceNo"].isin(dataframe["InvoiceNo"].unique())]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,543162,82578,KITCHEN METAL SIGN,25,2/3/2011 18:08,0.55,17507.0,United Kingdom
1,543805,21382,SET/4 SPRING FLOWER DECORATION,4,2/13/2011 12:41,2.95,17050.0,United Kingdom
2,556829,23264,SET OF 3 WOODEN SLEIGH DECORATIONS,12,6/15/2011 10:51,1.25,12809.0,Portugal
3,551998,85150,LADIES & GENTLEMEN METAL SIGN,12,5/5/2011 15:48,2.55,14099.0,United Kingdom
4,540824,22423,REGENCY CAKESTAND 3 TIER,1,1/11/2011 13:31,12.75,12728.0,France
...,...,...,...,...,...,...,...,...
12290,544394,22726,ALARM CLOCK BAKELIKE GREEN,4,2/18/2011 12:02,3.75,13932.0,United Kingdom
12291,547199,21169,YOU'RE CONFUSING ME METAL SIGN,1,3/21/2011 12:53,1.69,14606.0,United Kingdom
12292,554980,22274,FELTCRAFT DOLL EMILY,1,5/29/2011 11:59,2.95,17613.0,United Kingdom
12293,544634,22367,CHILDRENS APRON SPACEBOY DESIGN,2,2/22/2011 11:02,1.95,17994.0,United Kingdom
12294,539453,22661,CHARLOTTE BAG DOLLY GIRL DESIGN,1,12/17/2010 17:08,1.66,NaN,United Kingdom

In [9]:
dataframe.shape

(12295, 8)

# InvoiceNo and InvoiceDate

In [ ]:
dIND = dataframe.duplicated(subset = ['InvoiceNo', "InvoiceDate"])

In [ ]:
dIND

In [ ]:
dataframe[dIND==False]

In [ ]:
dataframe[(dataframe['InvoiceNo']=="543162")&(dataframe['InvoiceDate']!="2/3/2011 18:08")]

# StockCode

In [ ]:
dSC = dataframe.duplicated(subset = ['StockCode'])

In [ ]:
dSC

In [ ]:
dataframe[dSC]

In [ ]:
dataframe[dataframe['StockCode']=="22423"]

In [ ]:
dSCandD = dataframe.duplicated(subset = ['StockCode', "Description"])

In [ ]:
dSCandD

In [ ]:
dataframe[dSCandD]

# StockCode and Description

In [ ]:
dataframe[(dataframe['StockCode']=="22423")&(dataframe['Description']=="REGENCY CAKESTAND 3 TIER")]

In [ ]:
a = dataframe[dataframe['StockCode']=="22423"]