# Bibliothèque

In [79]:
import pandas as pd

# Importation des données

In [80]:
df = pd.read_csv('../data/data2010-2011s1.csv', encoding="unicode_escape")
cdf = df.copy()

# Information sur les des données

In [81]:
s = df.shape
print(f"nombre de ligne   : {s[0]}")
print(f"nombre de colonne : {s[1]}")

nombre de ligne   : 245903
nombre de colonne : 8

In [82]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [83]:
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [84]:
for c, n in zip(range(0, s[1]), df.columns.values):
    print(str(n)+": " + str(type(df._get_value(0,c, takeable=True))))

InvoiceNo: <class 'str'>
StockCode: <class 'str'>
Description: <class 'str'>
Quantity: <class 'numpy.int64'>
InvoiceDate: <class 'str'>
UnitPrice: <class 'numpy.float64'>
CustomerID: <class 'numpy.float64'>
Country: <class 'str'>

In [85]:
df.columns.values

array(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'], dtype=object)

# Sauvegarde des données mise de côté

In [86]:
err = pd.DataFrame() # Met les erreurs dans un tableau
countErr = {}        # Comptabilise les erreurs

# Pays

## liste des pays du dataset

In [87]:
print(df["Country"].unique())
print(df["Country"].unique().shape)

['United Kingdom' 'France' 'Australia' 'Netherlands' 'Germany' 'Norway'
 'EIRE' 'Switzerland' 'Spain' 'Poland' 'Portugal' 'Italy' 'Belgium'
 'Lithuania' 'Japan' 'Iceland' 'Channel Islands' 'Denmark' 'Cyprus'
 'Sweden' 'Austria' 'Israel' 'Finland' 'Bahrain' 'Greece' 'Hong Kong'
 'Singapore' 'Lebanon' 'United Arab Emirates' 'Saudi Arabia'
 'Czech Republic' 'Canada' 'Unspecified' 'Brazil' 'USA'
 'European Community' 'Malta']
(37,)

## unspecified

In [88]:
errCountry = df.loc[df['Country'] == "Unspecified"]

In [89]:
errCountry.shape[0]

83

In [90]:
errCountry.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
152712,549687,20685,DOORMAT RED RETROSPOT,2,4/11/2011 13:29,7.95,12363.0,Unspecified
152713,549687,22691,DOORMAT WELCOME SUNRISE,2,4/11/2011 13:29,7.95,12363.0,Unspecified
152714,549687,48116,DOORMAT MULTICOLOUR STRIPE,2,4/11/2011 13:29,7.95,12363.0,Unspecified
152715,549687,21213,PACK OF 72 SKULL CAKE CASES,24,4/11/2011 13:29,0.55,12363.0,Unspecified
152716,549687,21977,PACK OF 60 PINK PAISLEY CAKE CASES,24,4/11/2011 13:29,0.55,12363.0,Unspecified

In [91]:
err = pd.concat([err, errCountry])
countErr["Pays"] = errCountry.shape[0] + (0 if countErr.get('Pays')==None else countErr.get('Pays'))

## None

In [92]:
errCountry = cdf.loc[cdf["Country"]==None]

In [93]:
errCountry.shape

(0, 8)

In [94]:
err = pd.concat([err, errCountry])
countErr["Pays"] = errCountry.shape[0] + (0 if countErr.get('Pays')==None else countErr.get('Pays'))

In [96]:
print(err.head())
countErr

       InvoiceNo StockCode                         Description  Quantity  \
152712    549687     20685               DOORMAT RED RETROSPOT         2
152713    549687     22691             DOORMAT WELCOME SUNRISE         2
152714    549687     48116          DOORMAT MULTICOLOUR STRIPE         2
152715    549687     21213         PACK OF 72 SKULL CAKE CASES        24
152716    549687     21977  PACK OF 60 PINK PAISLEY CAKE CASES        24

            InvoiceDate  UnitPrice  CustomerID      Country
152712  4/11/2011 13:29       7.95     12363.0  Unspecified
152713  4/11/2011 13:29       7.95     12363.0  Unspecified
152714  4/11/2011 13:29       7.95     12363.0  Unspecified
152715  4/11/2011 13:29       0.55     12363.0  Unspecified
152716  4/11/2011 13:29       0.55     12363.0  Unspecified

{'Pays': 83}

# CustomerID

## Cast column to str

Il faut vérifier qu'il n'y est pas de décimal autre que 0  
Puis retirer la décimal

In [97]:
cdf["CustomerID"] = df["CustomerID"].astype(str) #.replace('\.\d+', '', regex=True)
type(df['CustomerID'][0])
cdf['CustomerID'][0]

'17850.0'

In [107]:
errCID = cdf[cdf['CustomerID'].str.match("\.[1-9]") == True]

In [108]:
err = pd.concat([err, errCID])
countErr["CustomerID"] = errCID.shape[0] + (0 if countErr.get('CustomerID')==None else countErr.get('CustomerID'))

In [110]:
cdf["CustomerID"] = df["CustomerID"].astype(str).replace('\.\d+', '', regex=True)

In [111]:
print(err.head())
countErr

       InvoiceNo StockCode                         Description  Quantity  \
152712    549687     20685               DOORMAT RED RETROSPOT         2
152713    549687     22691             DOORMAT WELCOME SUNRISE         2
152714    549687     48116          DOORMAT MULTICOLOUR STRIPE         2
152715    549687     21213         PACK OF 72 SKULL CAKE CASES        24
152716    549687     21977  PACK OF 60 PINK PAISLEY CAKE CASES        24

            InvoiceDate  UnitPrice  CustomerID      Country
152712  4/11/2011 13:29       7.95     12363.0  Unspecified
152713  4/11/2011 13:29       7.95     12363.0  Unspecified
152714  4/11/2011 13:29       7.95     12363.0  Unspecified
152715  4/11/2011 13:29       0.55     12363.0  Unspecified
152716  4/11/2011 13:29       0.55     12363.0  Unspecified

{'Pays': 83, 'CustomerID': 0}

## Teste de conformité

In [35]:
cdf[cdf['CustomerID'].str.match("^\d{5}$") == False].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,12/1/2010 11:52,0.00,nan,United Kingdom
1443,536544,21773,DECORATIVE ROSE BATHROOM BOTTLE,1,12/1/2010 14:32,2.51,nan,United Kingdom
1444,536544,21774,DECORATIVE CATS BATHROOM BOTTLE,2,12/1/2010 14:32,2.51,nan,United Kingdom
1445,536544,21786,POLKADOT RAIN HAT,4,12/1/2010 14:32,0.85,nan,United Kingdom
1446,536544,21787,RAIN PONCHO RETROSPOT,2,12/1/2010 14:32,1.66,nan,United Kingdom

# UnitPrice

Vérifier s'il y a des valeurs négatifs

In [37]:
cdf[cdf["UnitPrice"] < 0]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

# InvoiceDate

In [44]:
date_pattern = "^([0]{0,1}[1-9]|1[012])\/([1-9]|([012][0-9])|(3[01]))\/((\d\d\d\d)|(\d\d)) [012]{0,1}[0-9]:[0-6][0-9]$"

In [48]:
cdf[cdf['InvoiceDate'].str.match(date_pattern) == False].head()

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

In [49]:
cdf[cdf['InvoiceDate'].str.match(date_pattern) == False].shape

(0, 8)

# Quantity

In [50]:
cdf[cdf["Quantity"]<0].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,12/1/2010 9:41,27.50,14527,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,12/1/2010 9:49,4.65,15311,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,12/1/2010 10:24,1.65,17548,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548,United Kingdom

In [51]:
cdf[cdf["StockCode"]=="D"]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,12/1/2010 9:41,27.50,14527,United Kingdom
9038,C537164,D,Discount,-1,12/5/2010 13:21,29.29,14527,United Kingdom
14498,C537597,D,Discount,-1,12/7/2010 12:34,281.00,15498,United Kingdom
19392,C537857,D,Discount,-1,12/8/2010 16:00,267.12,17340,United Kingdom
31134,C538897,D,Discount,-1,12/15/2010 9:14,5.76,16422,United Kingdom
31135,C538897,D,Discount,-1,12/15/2010 9:14,42.50,16422,United Kingdom
31663,C539003,D,Discount,-1,12/15/2010 12:35,26.93,14527,United Kingdom
38609,C539589,D,Discount,-1,12/20/2010 13:14,13.88,14527,United Kingdom
44405,C540171,D,Discount,-1,1/5/2011 12:26,22.97,14527,United Kingdom
88032,C543752,D,Discount,-1,2/11/2011 14:12,64.27,14031,United Kingdom
88071,C543758,D,Discount,-1,2/11/2011 15:07,65.91,15299,United Kingdom
88211,C543789,D,Discount,-1,2/11/2011 17:10,84.80,17450,United Kingdom
89282,C543840,D,Discount,-1,2/14/2011 11:19,70.01,14527,United Kingdom
108071,C545476,D,Discount,-1,3/3/2011 11:05,30.38,14527,United Kingdom
108088,C545478,D,Discount,-720,3/3/2011 11:08,0.01,16422,United Kingdom
115091,C546106,D,Discount,-1,3/9/2011 12:21,9.87,14527,United Kingdom
140555,C548411,D,Discount,-1,3/31/2011 10:36,162.24,13316,United Kingdom
140795,C548462,D,Discount,-1,3/31/2011 12:11,14.52,14527,United Kingdom
150591,C549452,D,Discount,-1,4/8/2011 14:17,1867.86,17940,United Kingdom
169541,C551190,D,Discount,-1,4/27/2011 10:22,120.00,17940,United Kingdom
169834,C551265,D,Discount,-1,4/27/2011 12:06,11.76,14527,United Kingdom
181009,C552423,D,Discount,-1,5/9/2011 12:44,11.84,14527,United Kingdom
182729,C552569,D,Discount,-240,5/10/2011 12:06,0.03,12901,United Kingdom
183138,C552650,D,Discount,-18,5/10/2011 14:03,1.45,16672,United Kingdom
192807,C553482,D,Discount,-1,5/17/2011 12:07,9.84,14527,United Kingdom
194727,C553665,D,Discount,-1,5/18/2011 12:16,15.96,14527,United Kingdom
196362,C553841,D,Discount,-48,5/19/2011 12:19,0.20,16029,United Kingdom
203526,C554516,D,Discount,-1,5/24/2011 16:50,13.88,14527,United Kingdom
214671,C555597,D,Discount,-1,6/6/2011 10:19,42.00,15796,United Kingdom
218253,C556037,D,Discount,-1,6/8/2011 12:37,20.92,14527,United Kingdom
221712,C556265,D,Discount,-1,6/9/2011 19:24,28.04,16684,United Kingdom
226396,C556796,D,Discount,-96,6/14/2011 14:40,0.70,16013,United Kingdom
227481,C556877,D,Discount,-1,6/15/2011 12:00,129.90,15498,United Kingdom
227705,C556904,D,Discount,-1,6/15/2011 12:56,14.42,14527,United Kingdom
238153,C557927,D,Discount,-1,6/23/2011 14:56,10.00,16029,United Kingdom

In [52]:
cdf[cdf["StockCode"]=="D"].shape

(35, 8)

In [55]:
cdf["StockCode"].unique()

array(['85123A', '71053', '84406B', ..., '23018', '23025', '79161A'],
      dtype=object)