# 1

In [1]:
import pandas as pd
import random

d = {'col1': [random.randint(1, 10) for i in range(1,20)],
     'col2': [random.randint(1, 10) for i in range(1,20)]}
df = pd.DataFrame(data=d)

a = df["col1"] < 5
print(a.shape[0])
b = df[a==False]
print(b)

err = df[a==True].copy()
err["Comment"] = "petit nombre"
print(err)

19
    col1  col2
0      8     7
1      7     5
2      7     4
6      5    10
7      7     6
8      5     6
10     9     3
11     7     1
13     5     6
14     6     1
    col1  col2       Comment
3      2     9  petit nombre
4      1     2  petit nombre
5      3     3  petit nombre
9      1     3  petit nombre
12     4     2  petit nombre
15     4     4  petit nombre
16     2     8  petit nombre
17     1     5  petit nombre
18     4     6  petit nombre

# 2

In [5]:
import pandas as pd

df1 = pd.DataFrame()
df2 = pd.DataFrame()

In [6]:
pd.concat(df1, df2)

C:\Users\devia.e05\AppData\Local\Temp\ipykernel_19196\1206186022.py:1: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  pd.concat(df1, df2)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"

In [17]:
df1 = pd.DataFrame()
df2 = pd.DataFrame(data={"col":[1,2,3]})
df2["Err"] = "err"
pd.concat([df1, df2])

   col  Err
0    1  err
1    2  err
2    3  err

In [18]:
def dropC(err, countErr, dataframe,
          condition, phrase, nameC):
    t = condition
    errCx = dataframe[t==True].copy()
    errCx["Erreur"] = phrase
    dataframe = dataframe[t==False]
    countErr[nameC] = errCountry.shape[0] + (0 if countErr.get(nameC)==None else countErr.get(nameC))
    err = pd.concat([err, errCx])
    return err, countErr, dataframe

In [23]:
b = pd.DataFrame(data={"col": [True, False]})
print(b)
print(~b)

     col
0   True
1  False
     col
0  False
1   True

# 3 Test clean phase

In [32]:
import pandas as pd
df = pd.read_csv('../data/rData.csv', encoding="unicode_escape")

In [33]:
df.shape

(12295, 8)

In [45]:
a = df[(df["InvoiceNo"] == "555524") & (df["StockCode"] == "22697")]

In [46]:
a

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
6187,555524,22697,GREEN REGENCY TEACUP AND SAUCER,1,6/5/2011 11:37,2.95,16923.0,United Kingdom
6805,555524,22697,GREEN REGENCY TEACUP AND SAUCER,1,6/5/2011 11:37,2.95,16923.0,United Kingdom

In [20]:
df[a == True]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

In [21]:
df[a == False]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,543162,82578,KITCHEN METAL SIGN,25,2/3/2011 18:08,0.55,17507.0,United Kingdom
1,543805,21382,SET/4 SPRING FLOWER DECORATION,4,2/13/2011 12:41,2.95,17050.0,United Kingdom
2,556829,23264,SET OF 3 WOODEN SLEIGH DECORATIONS,12,6/15/2011 10:51,1.25,12809.0,Portugal
3,551998,85150,LADIES & GENTLEMEN METAL SIGN,12,5/5/2011 15:48,2.55,14099.0,United Kingdom
4,540824,22423,REGENCY CAKESTAND 3 TIER,1,1/11/2011 13:31,12.75,12728.0,France
...,...,...,...,...,...,...,...,...
12290,544394,22726,ALARM CLOCK BAKELIKE GREEN,4,2/18/2011 12:02,3.75,13932.0,United Kingdom
12291,547199,21169,YOU'RE CONFUSING ME METAL SIGN,1,3/21/2011 12:53,1.69,14606.0,United Kingdom
12292,554980,22274,FELTCRAFT DOLL EMILY,1,5/29/2011 11:59,2.95,17613.0,United Kingdom
12293,544634,22367,CHILDRENS APRON SPACEBOY DESIGN,2,2/22/2011 11:02,1.95,17994.0,United Kingdom
12294,539453,22661,CHARLOTTE BAG DOLLY GIRL DESIGN,1,12/17/2010 17:08,1.66,NaN,United Kingdom

In [58]:
booldf = df.duplicated(subset = ['InvoiceNo', 'StockCode'])

In [64]:
booldf[booldf==True]

6720     True
6805     True
8455     True
9119     True
9476     True
11186    True
dtype: bool

In [60]:
df[booldf==True]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
6720,537399,21928,JUMBO BAG SCANDINAVIAN PAISLEY,1,12/6/2010 14:31,1.95,13030.0,United Kingdom
6805,555524,22697,GREEN REGENCY TEACUP AND SAUCER,1,6/5/2011 11:37,2.95,16923.0,United Kingdom
8455,550322,20724,RED RETROSPOT CHARLOTTE BAG,1,4/17/2011 12:53,0.85,14524.0,United Kingdom
9119,549294,84536A,ENGLISH ROSE NOTEBOOK A7 SIZE,2,4/7/2011 19:27,0.42,13230.0,United Kingdom
9476,537781,21625,VINTAGE UNION JACK APRON,1,12/8/2010 12:46,6.95,17341.0,United Kingdom
11186,555853,22161,HEART DECORATION RUSTIC HANGING,4,6/7/2011 13:44,0.19,14375.0,United Kingdom

In [40]:
df[df["InvoiceNo"] == "537399"]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
479,537399,21928,JUMBO BAG SCANDINAVIAN PAISLEY,2,12/6/2010 14:31,1.95,13030.0,United Kingdom
1509,537399,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,2,12/6/2010 14:31,3.75,13030.0,United Kingdom
4894,537399,20658,RED RETROSPOT LUGGAGE TAG,1,12/6/2010 14:31,1.25,13030.0,United Kingdom
6720,537399,21928,JUMBO BAG SCANDINAVIAN PAISLEY,1,12/6/2010 14:31,1.95,13030.0,United Kingdom
7313,537399,21328,BALLOONS WRITING SET,2,12/6/2010 14:31,1.65,13030.0,United Kingdom
11006,537399,22815,CARD PSYCHEDELIC APPLES,12,12/6/2010 14:31,0.42,13030.0,United Kingdom
12251,537399,22718,CARD CAT AND TREE,12,12/6/2010 14:31,0.42,13030.0,United Kingdom

In [51]:
date_pattern = "^([0]{0,1}[1-9]|1[012])\/([1-9]|([012][0-9])|(3[01]))\/((\d\d\d\d)) [012]{0,1}[0-9]:[0-6][0-9]$"
booldf=~df['InvoiceDate'].str.match(date_pattern)
comment="La date est incorrecte"; name = "Date"

In [55]:
True in booldf

False

In [57]:
booldf

0        False
1        False
2        False
3        False
4        False
         ...
12290    False
12291    False
12292    False
12293    False
12294    False
Name: InvoiceDate, Length: 12295, dtype: bool

# 4

In [5]:
import pandas as pd
dataframe = pd.read_csv('../data/rData.csv', encoding="unicode_escape")

In [6]:
dataframe.shape[0]

12295

In [14]:
    ltype = ""
    for c, n in zip(range(0, dataframe.shape[1]), dataframe.columns.values):
        ltype += str(n) + ": " + str(type(dataframe._get_value(0,c, takeable=True))) + "\n"

In [15]:
ltype

"InvoiceNo: <class 'str'>\nStockCode: <class 'str'>\nDescription: <class 'str'>\nQuantity: <class 'numpy.int64'>\nInvoiceDate: <class 'str'>\nUnitPrice: <class 'numpy.float64'>\nCustomerID: <class 'numpy.float64'>\nCountry: <class 'str'>\n"

In [ ]:
import re
re.sub("[<>]class", '', ltype)

"InvoiceNo:  'str'>\nStockCode:  'str'>\nDescription:  'str'>\nQuantity:  'numpy.int64'>\nInvoiceDate:  'str'>\nUnitPrice:  'numpy.float64'>\nCustomerID:  'numpy.float64'>\nCountry:  'str'>\n"

# 5 add data in data base

In [41]:
import pandas as pd
import random

d = {'col1': [random.randint(1, 10) for i in range(1,20000)],
     'col2': [random.randint(1, 10) for i in range(1,20000)]}
df = pd.DataFrame(data=d)
print(df.head())
print(df.shape)

   col1  col2
0     8     3
1     1     3
2     6     7
3     8     1
4     1     5
(19999, 2)

In [45]:
import pandas as pd
dataframe = pd.read_csv('../data/rData.csv', encoding="unicode_escape")
dataframe

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,543162,82578,KITCHEN METAL SIGN,25,2/3/2011 18:08,0.55,17507.0,United Kingdom
1,543805,21382,SET/4 SPRING FLOWER DECORATION,4,2/13/2011 12:41,2.95,17050.0,United Kingdom
2,556829,23264,SET OF 3 WOODEN SLEIGH DECORATIONS,12,6/15/2011 10:51,1.25,12809.0,Portugal
3,551998,85150,LADIES & GENTLEMEN METAL SIGN,12,5/5/2011 15:48,2.55,14099.0,United Kingdom
4,540824,22423,REGENCY CAKESTAND 3 TIER,1,1/11/2011 13:31,12.75,12728.0,France
...,...,...,...,...,...,...,...,...
12290,544394,22726,ALARM CLOCK BAKELIKE GREEN,4,2/18/2011 12:02,3.75,13932.0,United Kingdom
12291,547199,21169,YOU'RE CONFUSING ME METAL SIGN,1,3/21/2011 12:53,1.69,14606.0,United Kingdom
12292,554980,22274,FELTCRAFT DOLL EMILY,1,5/29/2011 11:59,2.95,17613.0,United Kingdom
12293,544634,22367,CHILDRENS APRON SPACEBOY DESIGN,2,2/22/2011 11:02,1.95,17994.0,United Kingdom
12294,539453,22661,CHARLOTTE BAG DOLLY GIRL DESIGN,1,12/17/2010 17:08,1.66,NaN,United Kingdom

In [49]:
invoiceno = dataframe[["InvoiceNo", "CustomerID", "InvoiceDate"]]
invoiceno.head()

  InvoiceNo  CustomerID      InvoiceDate
0    543162     17507.0   2/3/2011 18:08
1    543805     17050.0  2/13/2011 12:41
2    556829     12809.0  6/15/2011 10:51
3    551998     14099.0   5/5/2011 15:48
4    540824     12728.0  1/11/2011 13:31

In [1]:
import pandas as pd
dataframe = pd.read_csv('../data/rData.csv', encoding="unicode_escape")

In [3]:
dIN = dataframe.duplicated(subset = ['InvoiceNo'])

In [4]:
dataframe[dIN]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
31,543162,82580,BATHROOM METAL SIGN,25,2/3/2011 18:08,0.55,17507.0,United Kingdom
69,550542,21116,OWL DOORSTOP,1,4/19/2011 11:37,8.29,NaN,United Kingdom
85,540848,21439,BASKET OF TOADSTOOLS,1,1/12/2011 9:26,2.51,NaN,United Kingdom
93,537240,22653,BUTTON BOX,1,12/6/2010 10:08,4.21,NaN,United Kingdom
101,558475,85132C,CHARLIE AND LOLA FIGURES TINS,6,6/29/2011 15:58,5.79,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
12290,544394,22726,ALARM CLOCK BAKELIKE GREEN,4,2/18/2011 12:02,3.75,13932.0,United Kingdom
12291,547199,21169,YOU'RE CONFUSING ME METAL SIGN,1,3/21/2011 12:53,1.69,14606.0,United Kingdom
12292,554980,22274,FELTCRAFT DOLL EMILY,1,5/29/2011 11:59,2.95,17613.0,United Kingdom
12293,544634,22367,CHILDRENS APRON SPACEBOY DESIGN,2,2/22/2011 11:02,1.95,17994.0,United Kingdom
12294,539453,22661,CHARLOTTE BAG DOLLY GIRL DESIGN,1,12/17/2010 17:08,1.66,NaN,United Kingdom

In [6]:
dataframe[dataframe['InvoiceNo']=="543162"]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,543162,82578,KITCHEN METAL SIGN,25,2/3/2011 18:08,0.55,17507.0,United Kingdom
31,543162,82580,BATHROOM METAL SIGN,25,2/3/2011 18:08,0.55,17507.0,United Kingdom
822,543162,21164,HOME SWEET HOME METAL SIGN,2,2/3/2011 18:08,2.95,17507.0,United Kingdom
3333,543162,21181,PLEASE ONE PERSON METAL SIGN,6,2/3/2011 18:08,2.10,17507.0,United Kingdom
11577,543162,22937,BAKING MOULD CHOCOLATE CUPCAKES,2,2/3/2011 18:08,2.55,17507.0,United Kingdom

In [26]:
dIND = dataframe.duplicated(subset = ['InvoiceNo', "InvoiceDate"])

In [34]:
dIND

0        False
1        False
2        False
3        False
4        False
         ...
12290     True
12291     True
12292     True
12293     True
12294     True
Length: 12295, dtype: bool

In [38]:
dataframe[dIND==False]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,543162,82578,KITCHEN METAL SIGN,25,2/3/2011 18:08,0.55,17507.0,United Kingdom
1,543805,21382,SET/4 SPRING FLOWER DECORATION,4,2/13/2011 12:41,2.95,17050.0,United Kingdom
2,556829,23264,SET OF 3 WOODEN SLEIGH DECORATIONS,12,6/15/2011 10:51,1.25,12809.0,Portugal
3,551998,85150,LADIES & GENTLEMEN METAL SIGN,12,5/5/2011 15:48,2.55,14099.0,United Kingdom
4,540824,22423,REGENCY CAKESTAND 3 TIER,1,1/11/2011 13:31,12.75,12728.0,France
...,...,...,...,...,...,...,...,...
12256,549851,23008,DOLLY GIRL BABY GIFT SET,6,4/12/2011 15:08,14.95,16062.0,United Kingdom
12259,549755,22714,CARD BIRTHDAY COWBOY,72,4/12/2011 11:34,0.36,16843.0,United Kingdom
12265,555918,22992,REVOLVER WOODEN RULER,6,6/7/2011 16:21,1.95,16098.0,United Kingdom
12269,547897,22296,HEART IVORY TRELLIS LARGE,12,3/28/2011 11:36,1.65,12792.0,Portugal
12277,547810,22441,GROW YOUR OWN BASIL IN ENAMEL MUG,1,3/25/2011 14:00,2.10,NaN,United Kingdom

In [39]:
dataframe[(dataframe['InvoiceNo']=="543162")&(dataframe['InvoiceDate']!="2/3/2011 18:08")]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

In [7]:
dSC = dataframe.duplicated(subset = ['StockCode'])

In [8]:
dSC

0        False
1        False
2        False
3        False
4        False
         ...
12290     True
12291     True
12292     True
12293     True
12294     True
Length: 12295, dtype: bool

In [10]:
dataframe[dSC]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
41,553834,22423,REGENCY CAKESTAND 3 TIER,32,5/19/2011 11:47,10.95,15189.0,United Kingdom
52,541969,21870,I CAN ONLY PLEASE ONE PERSON MUG,1,1/24/2011 13:46,3.29,NaN,United Kingdom
54,538311,21114,LAVENDER SCENTED FABRIC HEART,10,12/10/2010 13:48,1.25,12785.0,Portugal
87,538660,22697,GREEN REGENCY TEACUP AND SAUCER,1,12/13/2010 15:37,2.95,15808.0,United Kingdom
128,548188,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1,3/29/2011 15:12,2.95,13263.0,United Kingdom
...,...,...,...,...,...,...,...,...
12290,544394,22726,ALARM CLOCK BAKELIKE GREEN,4,2/18/2011 12:02,3.75,13932.0,United Kingdom
12291,547199,21169,YOU'RE CONFUSING ME METAL SIGN,1,3/21/2011 12:53,1.69,14606.0,United Kingdom
12292,554980,22274,FELTCRAFT DOLL EMILY,1,5/29/2011 11:59,2.95,17613.0,United Kingdom
12293,544634,22367,CHILDRENS APRON SPACEBOY DESIGN,2,2/22/2011 11:02,1.95,17994.0,United Kingdom
12294,539453,22661,CHARLOTTE BAG DOLLY GIRL DESIGN,1,12/17/2010 17:08,1.66,NaN,United Kingdom

In [12]:
dataframe[dataframe['StockCode']=="22423"]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
4,540824,22423,REGENCY CAKESTAND 3 TIER,1,1/11/2011 13:31,12.75,12728.0,France
41,553834,22423,REGENCY CAKESTAND 3 TIER,32,5/19/2011 11:47,10.95,15189.0,United Kingdom
188,537332,22423,REGENCY CAKESTAND 3 TIER,2,12/6/2010 11:58,12.75,14344.0,United Kingdom
266,548874,22423,REGENCY CAKESTAND 3 TIER,2,4/4/2011 15:18,12.75,17716.0,United Kingdom
542,538499,22423,REGENCY CAKESTAND 3 TIER,32,12/12/2010 12:46,10.95,17819.0,United Kingdom
...,...,...,...,...,...,...,...,...
11140,547799,22423,REGENCY CAKESTAND 3 TIER,4,3/25/2011 12:48,12.75,17139.0,United Kingdom
11269,545461,22423,REGENCY CAKESTAND 3 TIER,2,3/3/2011 8:24,12.75,14388.0,United Kingdom
11371,540469,22423,REGENCY CAKESTAND 3 TIER,3,1/7/2011 14:04,12.75,12484.0,Spain
11730,546896,22423,REGENCY CAKESTAND 3 TIER,1,3/17/2011 18:24,24.96,NaN,United Kingdom
12185,549936,22423,REGENCY CAKESTAND 3 TIER,36,4/13/2011 11:29,10.95,15465.0,United Kingdom

In [13]:
dSCandD = dataframe.duplicated(subset = ['StockCode', "Description"])

In [14]:
dSCandD

0        False
1        False
2        False
3        False
4        False
         ...
12290     True
12291     True
12292     True
12293     True
12294     True
Length: 12295, dtype: bool

In [16]:
dataframe[dSCandD]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
41,553834,22423,REGENCY CAKESTAND 3 TIER,32,5/19/2011 11:47,10.95,15189.0,United Kingdom
52,541969,21870,I CAN ONLY PLEASE ONE PERSON MUG,1,1/24/2011 13:46,3.29,NaN,United Kingdom
54,538311,21114,LAVENDER SCENTED FABRIC HEART,10,12/10/2010 13:48,1.25,12785.0,Portugal
87,538660,22697,GREEN REGENCY TEACUP AND SAUCER,1,12/13/2010 15:37,2.95,15808.0,United Kingdom
128,548188,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1,3/29/2011 15:12,2.95,13263.0,United Kingdom
...,...,...,...,...,...,...,...,...
12290,544394,22726,ALARM CLOCK BAKELIKE GREEN,4,2/18/2011 12:02,3.75,13932.0,United Kingdom
12291,547199,21169,YOU'RE CONFUSING ME METAL SIGN,1,3/21/2011 12:53,1.69,14606.0,United Kingdom
12292,554980,22274,FELTCRAFT DOLL EMILY,1,5/29/2011 11:59,2.95,17613.0,United Kingdom
12293,544634,22367,CHILDRENS APRON SPACEBOY DESIGN,2,2/22/2011 11:02,1.95,17994.0,United Kingdom
12294,539453,22661,CHARLOTTE BAG DOLLY GIRL DESIGN,1,12/17/2010 17:08,1.66,NaN,United Kingdom

In [19]:
dataframe[(dataframe['StockCode']=="22423")&(dataframe['Description']=="REGENCY CAKESTAND 3 TIER")]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
4,540824,22423,REGENCY CAKESTAND 3 TIER,1,1/11/2011 13:31,12.75,12728.0,France
41,553834,22423,REGENCY CAKESTAND 3 TIER,32,5/19/2011 11:47,10.95,15189.0,United Kingdom
188,537332,22423,REGENCY CAKESTAND 3 TIER,2,12/6/2010 11:58,12.75,14344.0,United Kingdom
266,548874,22423,REGENCY CAKESTAND 3 TIER,2,4/4/2011 15:18,12.75,17716.0,United Kingdom
542,538499,22423,REGENCY CAKESTAND 3 TIER,32,12/12/2010 12:46,10.95,17819.0,United Kingdom
...,...,...,...,...,...,...,...,...
11140,547799,22423,REGENCY CAKESTAND 3 TIER,4,3/25/2011 12:48,12.75,17139.0,United Kingdom
11269,545461,22423,REGENCY CAKESTAND 3 TIER,2,3/3/2011 8:24,12.75,14388.0,United Kingdom
11371,540469,22423,REGENCY CAKESTAND 3 TIER,3,1/7/2011 14:04,12.75,12484.0,Spain
11730,546896,22423,REGENCY CAKESTAND 3 TIER,1,3/17/2011 18:24,24.96,NaN,United Kingdom
12185,549936,22423,REGENCY CAKESTAND 3 TIER,36,4/13/2011 11:29,10.95,15465.0,United Kingdom

In [21]:
a = dataframe[dataframe['StockCode']=="22423"]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
4,540824,22423,REGENCY CAKESTAND 3 TIER,1,1/11/2011 13:31,12.75,12728.0,France
41,553834,22423,REGENCY CAKESTAND 3 TIER,32,5/19/2011 11:47,10.95,15189.0,United Kingdom
188,537332,22423,REGENCY CAKESTAND 3 TIER,2,12/6/2010 11:58,12.75,14344.0,United Kingdom
266,548874,22423,REGENCY CAKESTAND 3 TIER,2,4/4/2011 15:18,12.75,17716.0,United Kingdom
542,538499,22423,REGENCY CAKESTAND 3 TIER,32,12/12/2010 12:46,10.95,17819.0,United Kingdom
...,...,...,...,...,...,...,...,...
11140,547799,22423,REGENCY CAKESTAND 3 TIER,4,3/25/2011 12:48,12.75,17139.0,United Kingdom
11269,545461,22423,REGENCY CAKESTAND 3 TIER,2,3/3/2011 8:24,12.75,14388.0,United Kingdom
11371,540469,22423,REGENCY CAKESTAND 3 TIER,3,1/7/2011 14:04,12.75,12484.0,Spain
11730,546896,22423,REGENCY CAKESTAND 3 TIER,1,3/17/2011 18:24,24.96,NaN,United Kingdom
12185,549936,22423,REGENCY CAKESTAND 3 TIER,36,4/13/2011 11:29,10.95,15465.0,United Kingdom